<h2>👨‍💻 Reactive User Form</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <input type="text" formControlName="name" />
  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
    <small style="color:red">Name is required (min 3 chars)</small>
  </div>
  <br />

  <label>Email:</label>
  <input type="email" formControlName="email" />
  <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
    <small style="color:red">A valid email is required</small>
  </div>
  <br />

  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>

<app-skills-form />
<app-wizard-form />